@import url('https://gw.alipayobjects.com/os/k/font/lxgwwenkaiscreenr.css');
main {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-btn-text: #24292f;
  --color-btn-bg: #f6f8fa;
  --color-btn-border: rgb(27 31 36 / 15%);
  --color-btn-shadow: 0 1px 0 rgb(27 31 36 / 4%);
  --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
  --color-btn-hover-bg: #f3f4f6;
  --color-btn-hover-border: rgb(27 31 36 / 15%);
  --color-btn-active-bg: hsl(220deg 14% 93% / 100%);
  --color-btn-active-border: rgb(27 31 36 / 15%);
  --color-btn-selected-bg: hsl(220deg 14% 94% / 100%);
  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #a67c52;
  --color-btn-primary-border: rgb(27 31 36 / 15%);
  --color-btn-primary-shadow: 0 1px 0 rgb(27 31 36 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: #a67c52;
  --color-btn-primary-hover-border: rgb(27 31 36 / 15%);
  --color-btn-primary-selected-bg: hsl(137deg 55% 36% / 100%);
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: #c0b5ac;
  --color-btn-primary-disabled-border: rgb(27 31 36 / 15%);
  --color-fg-default: #24292f;
  --color-fg-muted: #57606a;
  --color-fg-subtle: #6e7781;
  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  --color-canvas-inset: #fff;
  --color-canvas-subtle: #fff;
  --color-border-default: #eee;
  --color-border-muted: #eee;
  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: #a67c52;
  --color-accent-emphasis: #eee;
  --color-accent-muted: #eee;
  --color-accent-subtle: #fff;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-danger-fg: #cf222e;
  --color-danger-muted: rgb(255 129 130 / 40%);
  --color-danger-subtle: #ffebe9;
  --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
  --color-primer-shadow-focus: 0 0 0 3px rgb(9 105 218 / 30%);
  --color-scale-gray-1: #eaeef2;
  --color-scale-blue-1: #eee;

  /*! Extensions from @primer/css/alerts/flash.scss */
  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);

  color-scheme: light;
}

main {
  font-family: 'LXGW WenKai Screen R', sans-serif;
  letter-spacing: 0.6px;
}

main .pagination-loader-container {
  background-image: url('https://github.com/images/modules/pulls/progressive-disclosure-line.svg');
}

main .gsc-loading-image {
  background-image: url('https://github.githubassets.com/images/mona-loading-default.gif');
}

main .gsc-left-header .color-text-secondary,
.gsc-header {
  display: none;
}
main .gsc-comment-box-textarea {
  border-color: #eee;
}
.form-control {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}
main .gsc-comment-box-textarea:focus,
#__next .form-control:focus {
  outline: 0;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary,
.btn.ml-1.rounded-md.border {
  box-shadow: none;
  border: none;
}
.gsc-tl-line {
  width: 1px;
}

.gsc-comment {
  font-size: 0.9rem;
  line-height: 1.8;
}

.gsc-comment-content{
  font-size: 1rem;
}

.gsc-reactions-count {
  visibility: hidden;
}
.gsc-reactions-count:after {
  content: '欢迎一起交流~';
  visibility: visible;
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: -4rem;
}

.gsc-reply-content {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
#__next .rounded-md {
  border-radius: 4px;
}
textarea:focus,
input:focus {
  outline: none;
}
.gsc-social-reaction-summary-item {
  font-size: 0.85rem;
  border-radius: 8px;
  line-height: 26px;
  padding-inline-end: 6px;
  padding-inline-start: 6px;
}
