:root {
  --font-fallback: "TsangerJinKai02", "STKaiti", "KaiTi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-body: var(--font-fallback);
  --font-mono: "SF Mono", Consolas, Monaco, "Courier New", Courier, monospace;
  --theme-navbar-height: 6rem;
}

:root {
  color-scheme: light;
  --theme-bg: #fff;
  --theme-accent: #a67c52;
  --theme-text: #262626;
  --theme-divider: #e6e6e6;
  --placeholder-gradient-start: #ece9e6;
  --placeholder-gradient-end: #ffffff;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
}

[data-theme="dark"] {
  color-scheme: dark;
  --theme-accent: #e8a15a;
  --theme-text: #e7e9ea;
  --theme-divider: #555;
  --theme-bg: #21262b;
  --placeholder-gradient-start: #2c3e50;
  --placeholder-gradient-end: #34495e;
  --pagefind-ui-text: #e7e9ea;
  --pagefind-ui-background: #21262b;
  --pagefind-ui-border: #333;
  --pagefind-ui-tag: #333;
}

body {
  background: var(--theme-bg);
  color: var(--theme-text);
  letter-spacing: 0.5px;
}

.dark .shadow-md {
  box-shadow:
    0 2px 5px -1px rgb(0 0 0 / 0.18),
    0 1px 5px -1px rgb(0 0 0 / 0.18);
}

site-search dialog {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

site-search dialog button {
  background-color: var(--theme-text);
  color: var(--theme-bg);
}

html {
  transition:
    color 300ms,
    background-color 300ms;
}
