---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header/Header.astro';
import { SITE } from '@/config';
import { sortPosts } from '@/util';

const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true })) as any[];
const allPosts = sortPosts(posts);
---

<BaseLayout 
  title={SITE.title} 
  description={SITE.description}
  pageURL={SITE.homePage}
>
  <Header />
  <div class='mx-auto -mt-5 mb-12 xl:max-w-7xl w-full lg:max-w-5xl md:max-w-2xl max-w-xl md:box-border box-content md:px-0 sm:px-3 px-4'>
    <div class='grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 mx-0 md:-mr-5 mr-0'>
      {allPosts.map((post) => <Card post={post} />)}
    </div>
  </div>
</BaseLayout>
