---
import { SITE } from "@/config";
import HeaderLink from "./HeaderLink.astro";
import Search from "./Search.astro";

const { blogPage, twitterId, githubId } = SITE;
---

<div class="flex-grow text-right md:mr-1 -mr-1">
  <Search />
  <HeaderLink href={blogPage} target="_blank">Blog</HeaderLink>
  <HeaderLink href={`https://twitter.com/${twitterId}`} target="_blank"
    >Twitter</HeaderLink
  >
  <HeaderLink
    href={`https://github.com/${githubId}`}
    target="_blank"
    class="lg:inline-block hidden">GitHub</HeaderLink
  >
  <HeaderLink href="/rss.xml" target="_blank" class="lg:inline-block hidden"
    >RSS</HeaderLink
  >
</div>
