---
import { SITE } from '@/config';
import HeaderLink from './HeaderLink.astro';
---

<div style="flex-grow: 1;" class="text-right md:mr-1 -mr-1">
  <HeaderLink href={SITE.blogPage} target="_blank">Blog</HeaderLink>
  <HeaderLink href={`https://twitter.com/${SITE.twitterId}`} target="_blank"
    >Twitter</HeaderLink
  >
  <HeaderLink
    href={`https://github.com/${SITE.githubId}`}
    target="_blank"
    class="lg:inline-block hidden">GitHub</HeaderLink
  >
  <HeaderLink href="/rss.xml" target="_blank" class="lg:inline-block hidden"
    >RSS</HeaderLink
  >
</div>
